/* footer*/


.footer__bottom{
    background-color: #333A44;
    padding: 3.5rem 0 3.2rem 0;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
}