.btn{
            padding: 1.4rem 3.9rem;
            background-color: $color-yellow;
            font-size: 1.5rem;
            color:$color-white;
            font-family: $font-space-mono;
            font-weight: 700;
            border: 3px solid $color-yellow;

        }

    .btn:hover{
        background-color: transparent;
        color: $color-yellow;
        border: 3px solid $color-yellow;

        }
    .btn:active{
        opacity: 0.6;
    }
    .hero__btn{
        margin-bottom: 16.6rem;
    }

    .burger {
        display: none;
        .line {
            width: 2rem;
            height: 0.4rem;
            background-color: #FCB72B;
            &:not(:last-child) {
                margin-bottom: 2px;
            }
        }

        @media screen and (max-width:700px) {
            display: block;
        }
    }