*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
   
}
body{
    width: 100%;
     
    
}
.container{
    width: 100%;
    max-width: 1106px;
    margin-right: auto;
    margin-left: auto;
}
a{
    text-decoration: none;
    
}
ul,ol,li{
list-style: none;
margin-bottom: 0;

}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}