        /*color*/
$color-yellow:#FCB72B;
$color-dark-navy:#495567;
$color-dim-grey:#939CAA;
$color-light-grey:#E5ECF4;
$color-snow:#F2F5F9;
$color-light-pink:#FFF4DF;
$color-white:#FFFFFF;

/* Font-family*/
$font-space-mono:'Space Mono', sans-serif;
$font-lexend-deca:'Lexend Deca', sans-serif;

/* font-size */ 
$font-heading-one: 5.6rem;
$font-heading-two: 4.8rem;
$font-heading-three: 4rem;
$font-heading-four: 2.4rem;
$font-paragraph:1.6rem;


